*{
	/* outline: 1px solid red; */
}

body {
  background: #e1e3e5;
}

.box {
  background: white;
  line-height: 1.5em;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.3);
  font-family: Verdana, Tahoma, sans-serif;
  padding: 1.5em;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  margin: 0 auto;
}

.box__header {
  color: #4a4a4a;
  font-size: 1.5em;
  line-height: 2.5em;
}

.box__text {
  font-size: 1rem;
  color: #9b9b9b;
}

.box__container {
  padding: 1em;
  margin: 0 auto;
}

.box__container__button {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: #7fa84e;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #ebffd3;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #c3e29e;
}

.box__button--2 {
  color: #a84e4e;
  background-color: #ffd3d3;
  border-color: #e29e9e;
}

@media (min-width: 480px) {
  .box {
    float: left;
    width: 50%;
  }
}

@media (min-width: 960px) {
  .box {
    float: left;
    width: 33.33%;
  }
  .box__container__button {
    display: inline-block;
    margin-right: 1em;
  }
}
